
#section-writeWords-WordExample{
    font-size: 4vw;
    font-family: Arial, sans-serif;
}

form {
    margin: 1% 0;
}


#wellDone--Wrapper {
    width: 50%;
    margin: 0;
    position:absolute;
    img{border-radius: 50%;}
    
}

img {
    width: 100%;
}

.gamePage{
    background-color: $lightPink;
    height:99rem;
}