
#section-writeWords-WordExample{
    font-size: 4vw;
    font-family: Arial, sans-serif;
}

form {
    margin: 1% 0;
}


#wellDone--Wrapper {
    width: fit-content;
    height: fit-content;
    margin: 0 25%
}

img {
    width: 100%;
}