.navbar {
  background: none;


  .navbar-brand {
    background-color: #f8dbdf;
    border-radius: 15px;
    width: 50%;

    img {
      width: 20%;
    }
  }


}


.container-fluid {
  margin: 2% 0;
}

